# **Встроенные (builtin) функции в `python`**

## **Операторы ввода / вывода**

### **Функция `print(*args, sep=" ", end="\n")`**

Основной оператор вывода в `python`, выводит в консоль любой тип данных.
- `*args` - выводимые элементы, можно перечислять через запятую
- `sep` - *(от англ. separator - разделитель)* символ, или последовательность символов, которыми будут разделены элементы, по умолчанию пробел (`" "`)
- `end` - символ, или последовательность символов, которым будет оканчиваться вывод, по умолчанию символ переноса строки (`"\n"`)

In [4]:
print(1, True, "Hello", 20.23, [123, 123, 123], end="61")
print("Hello")

1 True Hello 20.23 [123, 123, 123]61Hello

In [2]:
print(1, True, "Hello", 20.23, [123, 123, 123], sep="52", end="Конец")

152True52Hello5220.2352[123, 123, 123]Конец

### **Функция `input(promt="")`**

Основной оператор для ввода данных с консоли. *В ЕГЭ это не используется.*
- `promt` - *(от англ. promt - запрос)* строка, которая будет выводиться перед ожданием ввода от пользователя, по умолчания пустая строка (`""`)
- Введённые данные конвертируются в строку (`str`)

In [8]:
string = int(input())
print(type(string))

<class 'int'>

In [9]:
string = input("Enter your name: ")
print(string)

Vitaly

## **Редуцирующие функции**

### **Функция `max(iterable[], key=None)`**

Находит **первый** максимальный элемент из последовательности `iterable[]`
- `iterable[]` - последовательность элементов
- `key` - функция для сортировки элементов, если не передано - элементы сравниваются по умолчанию

In [19]:
seq = ["1233", "42", "124", "2133", "123"]
ord("1")

49

In [11]:
max(seq)

'42'

In [20]:
max(seq, key=len)

'1233'

### **Функция `min(iterable[], key)`**

Находит **первый** минимальный элемент в последовательности `iterable[]`
- `iterable[]` - последовательность элементов
- `key` - функция для сортировки, если не передано - элементы сравниваются по умолчанию

In [95]:
seq = ["123", "42", "124", "213", "123"]

In [24]:
min(seq)

'123'

In [23]:
min(seq, key=int)

'42'

### **Функция `all(iterable[])`**

Возвращает значение истина (`True`) если **каждый** элемент последовательности `iterable[]` является истиной (`True`) или может быть преобразован в это значение, иначе ложь `False`
- `iterable[]` - коллекция, для которой необходимо выяснить, являются ли все её элементы истинными (`True`)

In [28]:
seq = [True, 4 % 2, 5 > 2]
all(seq)

False

### **Функция `any(iterable[])`**

Возвращает значение истина (`True`) если **хотя бы один** элемент последовательности `iterable[]` является истиной (`True`) или может быть преобразован в это значение, иначе ложь `False`
- `iterable[]` - коллекция, для которой необходимо выяснить, являются ли хотя бы один её элемент истиной (`True`)

In [31]:
seq = [False, 4 % 2 == 1, 5 < 2]
any(seq)

False

### **Функция `sum(iterable[])`**

Применима только к последовательности, состоящей из целых или дробных чисел.
Результатом будет сумма всех чисел последовательности.
- `iterable[]` - последовательность целых или дробных чисел

In [32]:
seq = [123, 23, 43, 23, 76]
sum(seq)

288

## **Функции-генераторы**

### **Функция `range(start, end, step)`**

Создает арифметическую последовательность целых чисел, начиная с числа `start`, заканчивая числом `end`, с шагом `step`.
- `start` - начало последовательности
- `end` - конец последовательности (**не включительно**)
- `start` - шаг последовательности
- Возвращает объект типа `range`

In [33]:
range(10, 20, 2)

range(10, 20, 2)

In [40]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### **Функция `enumerate(iterable[])`**

Предназначена для нумерации последовательности `iterable[]`, крайне удобная и изящная штука
- `iterable[]` - последовательность для нумерации
- Возвращает объект типа `enumerate`

In [41]:
seq = [123, 23, 43, 23, 76]

In [ ]:
enumerate(seq)

In [42]:
tuple(enumerate(seq))

((0, 123), (1, 23), (2, 43), (3, 23), (4, 76))

## **Функции для перевода в 2, 8, 16 -ю СС**

### **Функция `bin(x)`**

Переводит число `x` из 10-й СС в 2-ю СС.
- `x` - число в 10-й СС
- Возвращает строку (`str`) в формате `0b{2-я запись}`

In [51]:
bin(140)

'0b10001100'

### **Функция `oct(x)`**

Переводит число `x` из 10-й СС в 8-ю СС.
- x - число в 10-й СС
- Возвращает строку (`str`) в формате `0o{8-я запись}`

In [50]:
oct(150)

'0o226'

### **Функция `hex(x)`**

Переводит число `x` из 10-й СС в 16-ю СС.
- x - число в 10-й СС
- Возвращает строку (`str`) в формате `0x{16-я запись}`

In [52]:
hex(12356)

'0x3044'

## **Математические функции**

### **Функция `abs(x)`**

Находит модуль числа (целого или вещественного) `x`
- `x` - число, для которого ищется модуль

In [54]:
abs(100)

100

### **Функция `round(x, d)`**

Округляет число `x` до `d`-й цифры после запятой, по умолчанию `d=0`, т.е. округляется до целого.
- `x` - неокруглённое число
- `d` - точность округления
- В `python` представлено **банковское** округление

In [57]:
round(3.12354112, 3)

3.124

## **Другие функции**

### **Функция `filter(func, iterable[])`**

Функция фильтрации последовательности. Оставляет в ней только те элементы, для которых значение функции `func` истинно.
- `func` - функция, принимающая на вход один элемент и возвращающая булево значение
- `iterable[]` - последовательность для фильтрации 
- Возвращает объект типа `filter`

In [109]:
seq = [123, 1235, 346, 346, 890, 127]

In [ ]:
filter(lambda x: x % 2 == 0, seq)

In [ ]:
tuple(filter(lambda x: x % 2 == 0, seq))

### **Функция `map(func, iterable[])`**

Создаёт новую последовательность на основе предыдущей, последовательно применяя функцию `func` к элементам последовательности.
- `func` - функция для применения к элементам последовательности
- `iterable[]` - первичная последовательность
- Возвращает объект типа `map`

In [112]:
seq = [123, 1235, 346, 346, 890, 127]

In [ ]:
map(lambda x: x**2, seq)

In [ ]:
tuple(map(lambda x: x**2, seq))

### **Функция `len(object)`**

Находит длину объекта `object`
- `object` - объект, имеющий магический метод `.__len__()` (`str`, `list`, `tuple`, `set`, `dict`)

In [60]:
len("123")

3

### **Функция `sorted(iterable[])`**

Сортирует коллекцию и возвращает её, в виде списка (`list`).
- `iterable[]` - коллекция, которую необходимо отсортировать

In [66]:
sorted({0, 2, 5, 1}, key=lambda x: x % 2, reverse=True)

[1, 5, 0, 2]

### **Функция `help()`**

Открывает поиск по всей документации `python`, включая встроенные библиотеки (`math`, `itertools`, `fnamtch`)

In [65]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.